//Fontes 
$fonte-header: 'Popins', sans-serif;
$fonte-principal: 'Open Sans', sans-serif;

//Cores
$rosa: hsl(322, 100%, 66%);
$ciano-claro: hsl(193, 100%, 96%);
$ciano-escuro: hsl(192, 100%, 9%);
$cinza-azulado: hsl(208, 11%, 55%);
$branco: #FFFFFF;

